<header>
  <nav class="header-nav">
    <a class="header-title" href="/">PlantPals</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Authors</a></li>
      <li><a href="/plants">Plants</a></li>
      <li><a href="/plants/new">Add Plant</a></li>
      <li><a href="/users/profile">Account</a></li>
      <li><a href="/users">Login</a></li>
    </ul>
  </nav>
</header>
