<!--
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Authors</a></li>-->
<li><a href="/plants/new">Add Plant</a></li>
<li><a href="/plants">All plants</a></li>
<li><a href="/users/profile">Profile</a></li>
<li><a href="/users/findUsers">Users</a></li>
<li>
  <form method="GET" class="headerEventToggle" id="logout" action="/users/logout">
    <button class="btn btn-danger" type="submit">Log out</button>
  </form>
</li>
