<h1>Welcome to PlantPals!</h1>
<br />
<p>
  This is a platform for keeping track of your plant collection, and for connecting with
  other users.
</p>
<br />
<a href="users" class="btn btn-primary" style="font-weight: 800">Get started</a>
<br />
<br />
<br />
