<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <title>PlantPals</title>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <!-- <script defer src="/public/javascripts/plantFamilies.js"></script> -->
    <script defer src="/javascripts/headerEvents.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <a class="header-title" href="/">PlantPals</a>
        <nav class="header-nav">
          <ul class="headerEventToggle">
            <% if (locals.isLoggedIn) {%><%-
            include('../partials/loggedInHeader.ejs')%><%} else {%>
            <%-include('../partials/loggedOutHeader.ejs')%><%}%>
          </ul>
        </nav>
        <a id="hamburger"><i class="fas fa-bars"></i></a>
      </header>
      <main class="inner-container">
        <%- include('../partials/errorMessage.ejs') %><%- body %>
      </main>
    </div>
  </body>
</html>
