form.hidden,
.search-result-container.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

*.toggleable {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 1s ease;
}

#logout {
  position: absolute;
  top: 0px;
  left: -100px;
}
