<label>User Name</label>
<input
  type="text"
  name="username"
  value="<% if user != null { %><%= user.username %><%}%>"
/>
<label>Email adress</label>
<input type="text" name="email" value="<% if user != null { %><%= user.email %><%}%>" />
<label>Password</label>
<input
  type="text"
  name="password"
  value="<% if user != null { %><%= user.password %><%}%>"
/>
<label>Confirm Password</label>
<input
  type="text"
  name="passwordConf"
  value="<% if user != null { %><%= user.passwordConf %><%}%>"
/>
