<h2 class="page-header">Search for users</h2>
<form action="/users/findUsers" class="searchUsers" method="GET">
  <div class="form-row new-author">
    <label>Display Name</label>
    <input type="text" name="username" value="<%= searchOptions.username %>" />
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<br />
<br />
<div class="search-result-container">
  <% users.forEach(user => { %>
  <div class="card user-card">
    <p><%= user.username %></p>
    <div class="btn-row" style="margin-left: auto">
      <a class="btn btn-primary" href="/users/<%=user._id%>">View</a>
    </div>
  </div>
  <% }) %>
</div>
