<h2 class="page-header">Log in</h2>
<form method="POST" class="logIn" action="/users">
  <div class="form-row">
    <div>
      <input type="text" name="logemail" placeholder="Email" />
      <input type="password" name="logpassword" placeholder="Password" />
    </div>
  </div>
  <div class="form-row">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
<form method="get" id="logout" action="/users/logout" style="margin-bottom: 1rem">
  <div class="form-row">
    <button class="btn btn-danger" type="submit">Logout</button>
  </div>
</form>
<h2 class="btn">Create new user</h2>
<form action="/users" class="createUser hidden toggleable" method="POST">
  <div class="form-row new-author">
    <div>
      <label for="username">User Name</label>
      <input type="text" name="username" />
    </div>
    <div>
      <label>Email adress</label>
      <input type="text" name="email" />
    </div>
  </div>
  <div class="form-row">
    <div>
      <label>Password</label>
      <input type="text" name="password" />
    </div>
    <div>
      <label>Confirm Password</label>
      <input type="text" name="passwordConf" />
    </div>
  </div>
  <div class="form-row">
    
    <button class="btn btn-primary" type="submit">Create</button><a class="btn btn-danger" href="/users">Cancel</a>
  </div>
</form>
</div>
<script>
  document.querySelectorAll('h2')[1].addEventListener("click", () => {
    document.querySelector('.toggleable').classList.toggle("hidden");
  });
</script>
