<% const plantUpperCaseFamilies = [ " ","ACANTHACEAE", "ACERACEAE", "ACHARIACEAE",
"ACHATOCARPACEAE", "ACTINIDIACEAE", "ADOXACEAE", "AEXTOXICACEAE", "AGDESTIDACEAE",
"AIZOACEAE", "AKANIACEAE", "ALANGIACEAE", "ALSEUOSMIACEAE", "ALZATEACEAE",
"AMARANTHACEAE", "AMBORELLACEAE", "ANACARDIACEAE", "ANCISTROCLADACEAE",
"ANISOPHYLLEACEAE", "ANNONACEAE", "APOCYNACEAE", "AQUIFOLIACEAE", "ARALIACEAE",
"ARALIDIACEAE", "ARISTOLOCHIACEAE", "ASCLEPIADACEAE", "ASTEROPEIACEAE", "AUCUBACEAE",
"AUSTROBAILEYACEAE", "AVICENNIACEAE", "BALANITACEAE", "BALANOPACEAE", "BALANOPHORACEAE",
"BALSAMINACEAE", "BARBEUIACEAE", "BARBEYACEAE", "BASELLACEAE", "BATACEAE", "BEGONIACEAE",
"BERBERIDACEAE", "BETULACEAE", "BIGNONIACEAE", "BIXACEAE", "BOMBACACEAE", "BORAGINACEAE",
"BRETSCHNEIDERACEAE", "BRUNELLIACEAE", "BRUNIACEAE", "BUDDLEJACEAE", "BURSERACEAE",
"BUXACEAE", "BYBLIDACEAE", "CABOMBACEAE", "CACTACEAE", "CALLITRICHACEAE",
"CALYCANTHACEAE", "CALYCERACEAE", "CAMPANULACEAE", "CANELLACEAE", "CANNABACEAE",
"CANOTIACEAE", "CAPPARACEAE", "CAPRIFOLIACEAE", "CARDIOPTERIDACEAE", "CARICACEAE",
"CARLEMANNIACEAE", "CARYOCARACEAE", "CARYOPHYLLACEAE", "CASUARINACEAE", "CECROPIACEAE",
"CELASTRACEAE", "CEPHALOTACEAE", "CERATOPHYLLACEAE", "CERCIDIPHYLLACEAE",
"CHENOPODIACEAE", "CHLORANTHACEAE", "CHRYSOBALANACEAE", "CIRCAEASTERACEAE", "CISTACEAE",
"CLETHRACEAE", "CNEORACEAE", "COBAEACEAE", "COCHLOSPERMACEAE", "COLUMELLIACEAE",
"COMBRETACEAE", "COMPOSITAE", "CONNARACEAE", "CONVOLVULACEAE", "CORIARIACEAE",
"CORNACEAE", "CORYLACEAE", "CORYNOCARPACEAE", "CRASSULACEAE", "CROSSOSOMATACEAE",
"CRUCIFERAE", "CRYPTERONIACEAE", "CTENOLOPHONACEAE", "CUCURBITACEAE", "CUNONIACEAE",
"CYCLOCHEILACEAE", "CYNOMORIACEAE", "CYRILLACEAE", "DAPHNIPHYLLACEAE", "DATISCACEAE",
"DAVIDSONIACEAE", "DEGENERIACEAE", "DIALYPETALANTHACEAE", "DIAPENSIACEAE",
"DICHAPETALACEAE", "DIDIEREACEAE", "DIDYMELACEAE", "DIEGODENDRACEAE", "DILLENIACEAE",
"DIONCOPHYLLACEAE", "DIPENTODONTACEAE", "DIPSACACEAE", "DIPTEROCARPACEAE", "DROSERACEAE",
"DUCKEODENDRACEAE", "EBENACEAE", "ELAEAGNACEAE", "ELAEOCARPACEAE", "ELATINACEAE",
"EMBLINGIACEAE", "EMPETRACEAE", "EPACRIDACEAE", "EREMOLEPIDACEAE", "EREMOSYNACEAE",
"ERICACEAE", "ERYTHROXYLACEAE", "ESCALLONIACEAE", "EUCOMMIACEAE", "EUCRYPHIACEAE",
"EUPHORBIACEAE", "EUPHRONIACEAE", "EUPOMATIACEAE", "EUPTELEACEAE", "FAGACEAE",
"FLACOURTIACEAE", "FOUQUIERIACEAE", "FRANKENIACEAE", "GARRYACEAE", "GEISSOLOMATACEAE",
"GENTIANACEAE", "GERANIACEAE", "GESNERIACEAE", "GISEKIACEAE", "GLAUCIDIACEAE",
"GLOBULARIACEAE", "GOETZEACEAE", "GOMORTEGACEAE", "GOODENIACEAE", "GOUPIACEAE",
"GREYIACEAE", "GRISELINIACEAE", "GROSSULARIACEAE", "GRUBBIACEAE", "GUNNERACEAE",
"GUTTIFERAE", "GYROSTEMONACEAE", "HALOPHYTACEAE", "HALORAGACEAE", "HAMAMELIDACEAE",
"HECTORELLACEAE", "HELWINGIACEAE", "HERNANDIACEAE", "HIMANTANDRACEAE", "HIPPOCASTANACEAE",
"HIPPURIDACEAE", "HOPLESTIGMATACEAE", "HUACEAE", "HUMIRIACEAE", "HYDNORACEAE",
"HYDRANGEACEAE", "HYDROPHYLLACEAE", "HYDROSTACHYACEAE", "ICACINACEAE", "IDIOSPERMACEAE",
"ILLECEBRACEAE", "ILLICIACEAE", "IRVINGIACEAE", "IXONANTHACEAE", "JUGLANDACEAE",
"KRAMERIACEAE", "LABIATAE", "LACISTEMATACEAE", "LACTORIDACEAE", "LARDIZABALACEAE",
"LAURACEAE", "LECYTHIDACEAE", "LEEACEAE", "LEGUMINOSAE-CAESALPINIOIDEAE",
"LEGUMINOSAE-MIMOSOIDEAE", "LEGUMINOSAE-PAPILIONOIDEAE", "LEITNERIACEAE", "LENNOACEAE",
"LENTIBULARIACEAE", "LEPIDOBOTRYACEAE", "LIMNANTHACEAE", "LINACEAE", "LISSOCARPACEAE",
"LOASACEAE", "LOGANIACEAE", "LOPHOPYXIDACEAE", "LORANTHACEAE", "LYTHRACEAE",
"MAGNOLIACEAE", "MALESHERBIACEAE", "MALPIGHIACEAE", "MALVACEAE", "MARCGRAVIACEAE",
"MEDUSAGYNACEAE", "MEDUSANDRACEAE", "MELANOPHYLLACEAE", "MELASTOMATACEAE", "MELIACEAE",
"MELIANTHACEAE", "MELIOSMACEAE", "MENISPERMACEAE", "MENYANTHACEAE", "MISODENDRACEAE",
"MOLLUGINACEAE", "MONIMIACEAE", "MONTINIACEAE", "MORACEAE", "MORINACEAE", "MORINGACEAE",
"MYOPORACEAE", "MYRICACEAE", "MYRISTICACEAE", "MYROTHAMNACEAE", "MYRSINACEAE",
"MYRTACEAE", "NELUMBONACEAE", "NEPENTHACEAE", "NESOGENACEAE", "NEURADACEAE",
"NYCTAGINACEAE", "NYMPHAEACEAE", "OCHNACEAE", "OLACACEAE", "OLEACEAE", "OLINIACEAE",
"ONAGRACEAE", "ONCOTHECACEAE", "OPILIACEAE", "OXALIDACEAE", "PAEONIACEAE", "PANDACEAE",
"PAPAVERACEAE", "PARACRYPHIACEAE", "PARNASSIACEAE", "PASSIFLORACEAE", "PEDALIACEAE",
"PELLICIERACEAE", "PENAEACEAE", "PENTAPHRAGMATACEAE", "PENTAPHYLACACEAE", "PENTHORACEAE",
"PERIDISCACEAE", "PHELLINACEAE", "PHRYMACEAE", "PHYSENACEAE", "PHYTOLACCACEAE",
"PIPERACEAE", "PITTOSPORACEAE", "PLAGIOPTERACEAE", "PLANTAGINACEAE", "PLATANACEAE",
"PLUMBAGINACEAE", "PODOACEAE", "PODOSTEMACEAE", "POLEMONIACEAE", "POLYGALACEAE",
"POLYGONACEAE", "PORTULACACEAE", "PRIMULACEAE", "PROTEACEAE", "PTAEROXYLACEAE",
"PTEROSTEMONACEAE", "QUIINACEAE", "RAFFLESIACEAE", "RANUNCULACEAE", "RESEDACEAE",
"RETZIACEAE", "RHABDODENDRACEAE", "RHAMNACEAE", "RHIZOPHORACEAE", "RHOIPTELEACEAE",
"RHYNCHOCALYCACEAE", "RORIDULACEAE", "ROSACEAE", "RUBIACEAE", "RUTACEAE", "SABIACEAE",
"SACCIFOLIACEAE", "SALICACEAE", "SALVADORACEAE", "SANTALACEAE", "SAPINDACEAE",
"SAPOTACEAE", "SARCOLAENACEAE", "SARGENTODOXACEAE", "SARRACENIACEAE", "SAURURACEAE",
"SAXIFRAGACEAE", "SCHISANDRACEAE", "SCROPHULARIACEAE", "SCYPHOSTEGIACEAE",
"SCYTOPETALACEAE", "SIMAROUBACEAE", "SIMMONDSIACEAE", "SOLANACEAE", "SPHAEROSEPALACEAE",
"SPHENOSTEMONACEAE", "STACHYURACEAE", "STACKHOUSIACEAE", "STAPHYLEACEAE",
"STEGNOSPERMATACEAE", "STERCULIACEAE", "STILBACEAE", "STRASBURGERIACEAE", "STYLIDIACEAE",
"STYLOBASIACEAE", "STYRACACEAE", "SURIANACEAE", "SYMPLOCACEAE", "TAMARICACEAE",
"TEPUIANTHACEAE", "TETRACENTRACEAE", "TETRACHONDRACEAE", "TETRAMERISTACEAE", "THEACEAE",
"THELIGONACEAE", "THEOPHRASTACEAE", "THYMELAEACEAE", "TICODENDRACEAE", "TILIACEAE",
"TORRICELLIACEAE", "TOVARIACEAE", "TRAPACEAE", "TREMANDRACEAE", "TRIGONIACEAE",
"TRIMENIACEAE", "TRIPLOSTEGIACEAE", "TROCHODENDRACEAE", "TROPAEOLACEAE", "TURNERACEAE",
"ULMACEAE", "UMBELLIFERAE", "URTICACEAE", "VAHLIACEAE", "VALERIANACEAE", "VERBENACEAE",
"VIOLACEAE", "VISCACEAE", "VITACEAE", "VOCHYSIACEAE", "WINTERACEAE", "ZYGOPHYLLACEAE",
];%> <% let plantFamilies=[]; plantUpperCaseFamilies.forEach((index, i) =>
{plantFamilies[i] = index[0] + index.slice(1).toLowerCase(); })%>
<div>
  <label>Family</label>
  <select name="family">
    <% plantFamilies.forEach(family => { %>
    <option label="<%= family %>" value="<%= family %>"></option>
    <% }) %>
  </select>
</div>
