<br />
<h2>Is this your first time adding on of your plants to your 'Growing'-list?</h2>
<p><i>Follow these simple steps to properly catalogue your plant!</i></p>
<br />
<ul>
  <li>Step 1 - Write the scientific name of your plant into the 'Name'-field.</li>
  <!-- put example after step 1 -->
  <br />
  <li>
    Step 2 - Your plant belongs to a taxonomic family! Find which one, using the internet
    and our growing list of accepted family names.
  </li>
  <br />
  <li>
    Step 3 - If your plant has a local- or common name, enter it into the 'Common
    name'-field.
  </li>
  <br />
  <li>
    Step 4 - Try to specify how old your plant is! It doesn't have to be super accurate.
    Enter the approximate date when your plant started growing.
  </li>
  <br />
  <li>
    Step 5 - You can select a photo or image of the plant! If you don't have one, our
    template will be used.
  </li>
  <br />
  <li>
    Lastly, give a description of the plant you're adding. It can be specific and
    scientific, or maybe just your personal feelings about the plant.
  </li>
  <br />
</ul>
