<h2 class="page-header">New Plant</h2>
<%- include('guide')%>
<form action="/plants" method="POST">
  <%- include('_form_fields') %>
  <a class="btn btn-danger" href="/plants">Cancel</a>
  <button class="btn btn-primary" type="submit">Create</button>
</form>
